<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MaskCenter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1F4046E71DCC7A11009C696F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F4047001DCC7A11009C696F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1F40470B1DCC7A12009C696F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
